.card {
  text-align: left;
  width: 100%;
}

.ArticleSummary a {
  font-weight: 400;
}

.ArticleSummary p {
  color: #aaa;
  margin-top: 20px;
}

@media (max-width: 680px) {
  .card {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .ArticleSummary h2 {
    font-size: 25px;
  }

  .ArticleSummary p {
    font-size: 16px;
  }
}
