.indexContainer {
  background-color: #fff;
  padding: 0;
  margin: 0;
}
.indexHeader{
  position: relative;
  width: 100%;
  height: 80vh;
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
  overflow: hidden;
}

.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate 30s linear infinite;
  z-index: 0;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.wave2{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate1 10s linear infinite;
  z-index: 0;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}


.wave3{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate 05s linear infinite;
  z-index: 1;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.wave4{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate1 15s linear infinite;
  z-index: 2;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}


@keyframes animate{
  0%
  {
      background-position-x: 0;
  }
  100%
  {
      background-position-x: 1000px;
  }
}


@keyframes animate1{
  0%
  {
      background-position-x: 0;
  }
  100%
  {
      background-position-x: -1000px;
  }
}



.blogTitle {
  max-width: 1120px;
  width: 90%; /*95%*/
  margin: 0 auto;
  color: white;
}

.blogTitle h1 {
  padding: 20px 0;
  font-size: 60px;
  font-weight: bold;
}

.blogTitle p {
  font-weight: 200;
  font-size: 14px;
}

.blogTitle a {
  display: inline-block;
  margin: 20px 0;
  background-color: #35495e;
  padding: 18px 36px;
  border-radius: 5px;
  color: white;
  font-weight: 200;
  font-size: 14px;
}

.Features {
  max-width: 1120px;
  width: 90%; /*95%*/
  margin: -220px auto 100px auto;
  position: relative;
  z-index: 2;
}

.FeatureContainer {
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}

.FeatureContainer img {
  width: 50%;
}

.FeatureText {
  text-align: left;
  position: absolute;
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 18%;
  bottom: 18%;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  width: 55%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08), 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  color: #2e3333;
}

.FeatureContainer:nth-child(even) {
  text-align: right;
}

.FeatureContainer:nth-child(even) .FeatureText {
  right: initial;
  left: 0;
}

.FeatureText h3 {
  font-weight: bold;
}

.blogPosts {
  background: #f3f3f6;
  padding-top: 50px;
}

.blogPostsHeader,
.articlesList {
  width: 90%; /*95%*/
  max-width: 1020px;
  margin: 0 auto;
 
}

.blogPostsHeader{
  border-bottom: 1px solid #95ca3e;
  margin-bottom: 50px;

}

.articlesList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
}

.articlesList > li {
  flex-grow: 1;
  flex-basis: 50%;
}
.articlesList > li:not(:last-child) {
  margin-right: 3%;
}

@media (max-width: 992px) {
  .blogTitle h1 {
    font-size: 39px;
  }

  .blogTitle p,
  .blogTitle a {
    font-size: 18px;
  }

  .FeatureContainer img {
    width: 75%;
  }

  .FeatureText {
    top: 0;
    bottom: 0;
    width: 40%;
  }

  .FeatureText h3 {
    font-size: 22px;
  }

  .FeatureText p {
    font-size: 16px;
  }
}

@media (max-width: 680px) {
  .FeatureContainer {
    margin-bottom: 50px;
  }

  .FeatureContainer img {
    width: 100%;
  }

  .FeatureText {
    position: static;
    width: 100%;
    padding: 24px;
  }

  .articlesList {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .blogTitle h1 {
    font-size: 32px;
  }

  .blogTitle p {
    font-weight: 200;
    font-size: 14px;
  }

  .blogTitle a {
    padding: 12px 24px;
  }
}
