.headerContent {
  height: auto;
  width: 100%;
  background-color: #f6f6f6;
  border-bottom: 1px solid #ccc;
}

.header {
  width: 90%;
  max-width: 992px;
  background-color: #f6f6f6;
  border-bottom: 1px #f4f4f4;
  margin-bottom: 10px;
  margin: 0px auto;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  width: 3px;
  border-radius: 5px;
  background-color: #95ca3e;
}

.header > h1 {
  font-size: 40px;
  color: #1c3643;
  font-weight: 900;
  line-height: 1.2;
  padding: 24px 0 24px 12px;
}

.InfoShare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.Bio {
  margin-bottom: 20px;
}

.content hr {
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 900;
  line-height: 1.1;
  margin-top: 3.5rem;
  text-rendering: optimizeLegibility;
}

/**
* Based on copypasta from Remy Bach and Sarah Drasner
*/
.content code,
.content pre {
  color: white;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
.content pre {
  overflow: auto;
  padding: 1em;
}

.content :not(pre) > code,
.content pre {
  background: hsla(0, 0%, 0%, 0.9);
}

.content pre::-moz-selection,
.content pre::selection {
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
.content pre::-moz-selection,
.content pre ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

.content pre::selection,
.content pre ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */
.content :not(pre) > code {
  border-radius: 0.3em;
  background: rgba(255, 229, 100, 0.2);
  color: #1a1a1a;
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}
.content a > code {
  color: var(--primary-color);
}

.content :global(.highlighted-line) {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #ffa7c4;
}

.content :global(.token.attr-name) {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.content :global(.token.comment) {
  color: rgb(99, 119, 119);
}

.content :global(.token.string),
.content :global(.token.url) {
  color: rgb(173, 219, 103);
}

.content :global(.token.variable) {
  color: rgb(214, 222, 235);
}

.content :global(.token.number) {
  color: rgb(247, 140, 108);
}

.content :global(.token.builtin),
.content :global(.token.char),
.content :global(.token.constant),
.content :global(.token.function) {
  color: rgb(130, 170, 255);
}

.content :global(.token.punctuation) {
  color: rgb(199, 146, 234);
}

.content :global(.token.selector),
.content :global(.token.doctype) {
  color: rgb(199, 146, 234);
  font-style: "italic";
}

.content :global(.token.class-name) {
  color: rgb(255, 203, 139);
}

.content :global(.token.tag),
.content :global(.token.operator),
.content :global(.token.keyword) {
  color: #ffa7c4;
}

.content :global(.token.boolean) {
  color: rgb(255, 88, 116);
}

.content :global(.token.property) {
  color: rgb(128, 203, 196);
}

.content :global(.token.namespace) {
  color: rgb(178, 204, 214);
}

.footer {
  margin-top: 70px;
}

.footer .title {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30px;
}

.footer .title > a {
  color: var(--primary-color-light);
}

.related {
  width: 95%;
  max-width: 992px;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.related > h2 {
  color: #1c3643;
}

.CardsContainer {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relatedCard {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 9px 18px #ccc;
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin: 0 20px;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
}

.relatedCard:hover {
  transform: scale(1.1);
  border: 1px solid #ddd;
}

@media (max-width: 992px) {
  .header > h1 {
    font-size: 35px;
  }
}

@media (max-width: 748px) {
  .InfoShare {
    display: block;
  }
}

@media (max-width: 680px) {
  .header > h1 {
    font-size: 28px;
    padding-bottom: 0;
  }

  .content h2 {
    font-size: 28px;
  }

  .CardsContainer {
    display: block;
  }

  .relatedCard {
    margin: 10px auto;
  }
}
