.ShareButtons {
  padding: 10px;
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ShareButtons > div {
  cursor: pointer;
  border-radius: 100%;
  overflow: hidden;
}
